.question-container {
  text-align: center;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #3498db;
  width: 100%;
  font-size: 24px;
}

.question-number {
  font-size: 28px;
  color: #e74c3c;
  margin: 25px;
}

.question-text {
  font-size: 28px;
  margin: 80px;
  width: 100%;
}

.options {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider-line {
  position: relative;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: pointer;
  position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: -6px; /* Adjust this value to position the dot on the line */
  left: 50%;
  transform: translateX(-50%);
}

.option-label {
  font-size: 22px;
  margin-top: 20px;
}

.fill-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #3498db;
  z-index: 1;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-buttons .prev,
.navigation-buttons .next {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.navigation-buttons .prev:hover,
.navigation-buttons .next:hover {
  background-color: #2980b9;
}

.navigation-buttons .prev:disabled,
.navigation-buttons .next:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}
