.App {
  text-align: center;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to accommodate the fixed header */
}

.header {
  top: 0;
  width: 100%;
  background-color: #fffcfc;
  color: white;
  padding: 20px 0;
}

.header-title {
  font-size: 26px;
  margin: 0;
  color: brown;
}
