.App {
  text-align: center;
  background-color: #8894a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to accommodate the fixed header */
}

.header {
  width: 100%;
  background-color: #428891;
  color: white;
  padding: 20px 0;
}

.header-title {
  font-size: 26px;
  margin: 0;
  color: rgb(42, 157, 165);
}
